body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, cite, code, em, img, q, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

form fieldset { border: 0; }
form legend { word-spacing: normal; color: #000; }
form em, form strong { font-style: normal; font-weight: normal; }
form abbr, form acronym { border: 0; font-variant: normal; }
form input, form textarea, form select { font-family: inherit; font-size: 100%; font-weight: inherit; }

form legend { color: #575150; display: block; font-size: 2em; font-weight: bold; margin-bottom: 1em; padding: 0.5em 0; width: 100%; text-shadow: black 0 -1px 1px; box-sizing: border-box; }
form div.input, form div.total { margin: 0.25em 0 0.5em; }
form div.numeric, form div.datetime, form div.select { display: inline-block; margin-right: 15px; }
form label { display: block; margin-bottom: 0.25em; font-size: 15px; font-weight: bold; }
form input[type='number'] { width: 105px; }
form input[type='text'], form input[type='email'], form input[type='password'], form textarea { border: none; font-size: 1.3em; padding: 5px; width: 930px; box-shadow: inset 0 2px 5px #727272; -moz-box-shadow: inset 0 2px 5px #727272; -o-box-shadow: inset 0 2px 5px #727272; -webkit-box-shadow: inset 0 2px 5px #727272; }
form fieldset#line-items { border-top: 1px solid #8c8c8c; margin-top: 1.5em; }
form fieldset#line-items h2 { font-size: 17px; margin-top: 1.0em; margin-bottom: 0.75em; }
form fieldset#line-items input.item-name, form fieldset#line-items input.item-cost { display: inline-block; }
form fieldset#line-items input.item-name { width: 800px; }
form fieldset#line-items input.item-cost { margin-left: 15px; text-align: right; width: 105px; }
form fieldset#line-items div.total { float: right; }
form fieldset#line-items div.total label { display: inline-block; text-align: right; }
form fieldset#line-items div.total input { display: inline-block; margin-left: 15px; text-align: right; width: 105px; }

.large-button { border-top: 1px solid #8eb9da; color: white; display: block; font-size: 15px; font-weight: bold; line-height: 15px; padding: 10px 20px; text-align: center; width: 225px; margin: 1em auto; text-shadow: black 0 -1px 1px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; -webkit-border-radius: 20px; -webkit-background-clip: padding-box; border-radius: 20px; background: #397cb0; background: -moz-linear-gradient(0% 100% 90deg, #397cb0, #1a3850); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#397cb0), to(#1a3850)); box-shadow: 0 1px 3px #323232; -moz-box-shadow: 0 1px 3px #323232; -o-box-shadow: 0 1px 3px #323232; -webkit-box-shadow: 0 1px 3px #323232; }
.large-button:hover { background: #336e9d; background: -moz-linear-gradient(0% 100% 90deg, #336e9d, #142b3c); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#336e9d), to(#142b3c)); }

.tool-button { border-top: 1px solid #e9f1ce; color: white; display: inline-block; font-size: 13px; font-weight: bold; line-height: 15px; padding: 10px 15px; text-align: center; text-shadow: #666666 0 -1px 1px; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px; -webkit-border-radius: 15px; -webkit-background-clip: padding-box; border-radius: 15px; background: #bdd56b; background: -moz-linear-gradient(0% 100% 90deg, #bdd56b, #7e962b); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bdd56b), to(#7e962b)); box-shadow: 0 1px 3px #323232; -moz-box-shadow: 0 1px 3px #323232; -o-box-shadow: 0 1px 3px #323232; -webkit-box-shadow: 0 1px 3px #323232; }
.tool-button:hover { background: #b4cf57; background: -moz-linear-gradient(0% 100% 90deg, #b4cf57, #6d8225); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b4cf57), to(#6d8225)); }

body { background: #181818; color: #281e19; font: 13px/1.5em Helvetica, sans-serif; }

h1 { font-size: 2em; margin-bottom: 0.5em; }

h2 { font-size: 1.25em; margin-bottom: 0.5em; }

a { color: #281e19; text-decoration: none; }

header { background: rgba(57, 124, 176, 0.95); height: 3em; line-height: 1.5em; position: fixed; top: 0; width: 100%; box-shadow: 0 3px 10px #323232; -moz-box-shadow: 0 3px 10px #323232; -o-box-shadow: 0 3px 10px #323232; -webkit-box-shadow: 0 3px 10px #323232; }
header nav { margin: 0 auto; padding: 0.5em 0; width: 975px; }
header a { color: #f0f0f0; float: left; font-size: 15px; font-weight: bold; padding: 5px 10px; text-decoration: none; text-shadow: black 0 -1px 1px; }
header a:hover { background: rgba(51, 110, 157, 0.95); -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px; -webkit-border-radius: 15px; -webkit-background-clip: padding-box; border-radius: 15px; box-shadow: inset 0 2px 5px rgba(32, 70, 99, 0.95); -moz-box-shadow: inset 0 2px 5px rgba(32, 70, 99, 0.95); -o-box-shadow: inset 0 2px 5px rgba(32, 70, 99, 0.95); -webkit-box-shadow: inset 0 2px 5px rgba(32, 70, 99, 0.95); }
header #logout-link { float: right; }

#container { background: #ecf0e6; margin: 4em auto; padding: 15px; width: 945px; box-shadow: 0 3px 10px black; -moz-box-shadow: 0 3px 10px black; -o-box-shadow: 0 3px 10px black; -webkit-box-shadow: 0 3px 10px black; }

nav#toolbar { margin-bottom: 1.5em; }

body#sessions #container { width: 305px; }
body#sessions #container form input[type='text'], body#sessions #container form input[type='password'] { width: 97.5%; }

#invoices-table { background: white; text-align: left; }
#invoices-table li { clear: both; display: block; }
#invoices-table li.header { background: #dce6dc; font-weight: bold; text-transform: capitalize; }
#invoices-table li a:hover { background: #397cb0; }
#invoices-table li a { border: none; }
#invoices-table li span { display: inline-block; padding: 5px 10px; }
#invoices-table li span.number { width: 10%; }
#invoices-table li span.created { width: 20%; }
#invoices-table li span.title { width: 40%; }
#invoices-table li span.controls { width: 10%; }

body#invoices.show #container { margin: 36px auto; }
body#invoices.show #container .invoices { margin-top: 1em; }
body#invoices.show #container .invoices a { font-size: 1.5em; line-height: 1.5em; text-decoration: none; }
body#invoices.show #badging { margin-bottom: 1.5em; text-align: right; }
body#invoices.show #badging p { font-size: 12px; }
body#invoices.show #content { float: left; width: 465px; margin-right: 15px; }
body#invoices.show #content table#meta td { padding: 1.5px 6px; }
body#invoices.show #content table#meta .thead { text-align: right; }
body#invoices.show #content .title { margin-bottom: 1em; }
body#invoices.show #content .description { margin-top: 2em; }
body#invoices.show #support { float: left; background: #b4d6dd; margin-top: 3em; padding: 12px 6px 36px; width: 450px; }
body#invoices.show #support dl { font-size: 1.25em; line-height: 18px; margin-bottom: 1em; }
body#invoices.show #support dt { font-weight: bold; margin-bottom: .2em; }
body#invoices.show #itemized { font-size: 1.25em; width: 100%; text-align: left; }
body#invoices.show #itemized th, body#invoices.show #itemized td { padding: 12px 6px; letter-spacing: 0.05em; }
body#invoices.show #itemized th.item-head { background: #4a97B0; color: #fff; }
body#invoices.show #itemized th.cost-head { background: #1b789b; color: #fff; text-align: right; }
body#invoices.show #itemized td.cost { background: #b4d6dd; text-align: right; width: 225px; }
body#invoices.show #itemized td.total-head { font-weight: bold; text-align: right; }
body#invoices.show #itemized td.total { background: #131815; color: #fff; padding-top: 1em; padding-bottom: 1em; text-align: right; }
