body {
  background: $color_background;
  color: $color_text;
  font: 13px/1.5em Helvetica, sans-serif;
}

// Type -----------------------------------------------------------------------

h1 { font-size: 2em; font-weight: bold; margin-bottom: 0.5em; }
h2 { font-size: 1.25em; font-weight: bold; margin-bottom: 0.5em; }

a { color: $color_text; text-decoration: none; }

// Global ---------------------------------------------------------------------

header {
  background: $color_frosted;
  height: 3em;
  line-height: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;

  @include shadow(0, 3px, 10px, $color_shadow_alt);

  nav {
    margin: 0 auto;
    padding: 0.5em 0;
    width: $grid_full_width;
  }

  a {
    color: $color_text_alt;
    float: left;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: #000 0 -1px 1px;

    &:hover {
      background: darken($color_frosted, 5%);

      @include radius(15px);
      @include shadow(0, 2px, 5px, darken($color_frosted, 20%), true);
    }
  }

  #logout-link { float: right; }
}

#container {
  background: $color_foreground;
  margin: 4em auto;
  padding: $grid_gutter;
  width: $grid_width;

  @include shadow(0, 3px, 10px, $color_shadow);
}

nav#toolbar {
  margin-bottom: 1.5em;
}

// Sessions -------------------------------------------------------------------

body#sessions #container {
  width: $col_8;

  form {
    input[type='text'], input[type='password'] { width: 97.5%; }
  }
}

// Invoices -------------------------------------------------------------------

#invoices-table {
  background: $color_paper;
  text-align: left;

  li {
    clear: both;
    display: block;

    &.header { background: $color_foreground_alt; font-weight: bold; text-transform: capitalize; }
    a:hover  { background: $color_highlight; }

    a { border: none; }

    span {
      display: inline-block;
      padding: 5px 10px;

      &.number  { width: 10%; }
      &.created { width: 20%; }
      &.title   { width: 60%; }
    }
  }
}
