body   { font: 13px/1.5em Helvetica, sans-serif; }
h1     { font-size: 2em; margin-bottom: 0.5em; }
h2     { font-size: 1.25em; margin-bottom: 0.5em; }
a:link { color: $color_text; text-decoration: none; }
