// Colors ---------------------------------------------------------------------

$color_paper:           rgb(255, 255, 255); // paper white
$color_background:      rgb(24,  24,  24);  // medium grey
$color_background_alt:  rgb(47,  44,  43);  // darker grey
$color_foreground:      rgb(236, 240, 230); // cream white
$color_foreground_alt:  rgb(220, 230, 220); // darker white
$color_toolbar:         rgb(45,  45,  50);  // smokey grey

$color_border:          rgb(140, 140, 140); // medium grey
$color_highlight:       rgb(57,  124, 176); // opaque blue
$color_suppress:        rgb(155,  50,  50); // some color
$color_creation:        rgb(189, 213, 107); // muted green
$color_shadow:          rgb(0,   0,   0);   // black
$color_shadow_alt:      rgb(50,  50,  50);  // flat grey

$color_text:            rgb(40,  30,  25);  // dark grey
$color_text_alt:        rgb(240, 240, 240); // bright white

$color_frosted:         rgba(57, 124, 176, .95); // translucent blue
