@mixin large-button {
  display: block;
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
  padding: 10px 20px;
  text-align: center;
  width: $col_6;
  margin: 1em auto;

  &:link, &:active, &:visited {
    color: $color_text;
  }
}

@mixin tool-button {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  padding: 10px 15px;
  text-align: center;

  &:link, &:active, &:visited {
    color: $color_text;
  }
}

.large-button { @include large-button; }
.tool-button  { @include tool-button; }
