form {
  legend {
    color: lighten($color_background_alt, 15%);
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.5em 0;
    width: 100%;
    box-sizing: border-box;
  }

  .input, .total {
    margin: 0.25em 0 0.5em;
  }

  .numeric, .datetime, .select {
    display: inline-block;
    margin-right: $grid_gutter;
  }

  label {
    display: block;
    margin-bottom: 0.25em;
    font-size: 15px;
    font-weight: bold;
  }

  input[type='number'] {
    width: $col_3;
  }

  input[type='text'], input[type='email'],
  input[type='password'], textarea {
    border: none;
    border-radius: 2px;
    box-shadow: 0, 1px, 2px, lighten($color_shadow, 50%), true;
    font-size: 16px;
    padding: 6px;
  }

  input[type='submit'] {
    font-weight: bold;
    margin-top: 8px;
    padding: 16px;
  }

  fieldset {
    position: relative;
    width: 100%;
  }

  fieldset#line-items {
    border-top: 1px solid $color_border;
    margin-top: 1.5em;

    h2 {
      font-size: 17px;
      margin-top: 1.0em;
      margin-bottom: 0.75em;
    }

    input.item-name, input.item-cost { display: inline-block; }
    input.item-name { width: $col_21 - 25px; }
    input.item-cost {
      margin-left: $grid_gutter;
      text-align: right;
      width: $col_3;
    }

    div.total {
      float: right;

      label { display: inline-block; text-align: right; }
      input {
        display: inline-block;
        margin-left: $grid_gutter;
        text-align: right;
        width: $col_3;
      }
    }
  }
}
