form {
  display: block;
  margin: 0 auto;

  legend {
    color: lighten($color_background_alt, 15%);
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.5em 0;
    width: 100%;
    box-sizing: border-box;
  }

  .input, .total {
    margin: 0.25em 0 0.5em;
  }

  .integer, .datetime, .select {
    display: inline-block;
    margin-right: 0.5em;
  }

  label {
    display: block;
    margin-bottom: 0.25em;
    font-size: 15px;
    font-weight: bold;
  }

  input, textarea {
    width: 100%;
  }

  input[type='number'] {
    width: $col_3;
  }

  input[type='text'], input[type='email'],
  input[type='password'], textarea {
    border: none;
    border-radius: 2px;
    box-shadow: 0, 1px, 2px, lighten($color_shadow, 50%), true;
    font-size: 16px;
    padding: 6px;
  }

  input[type='submit'] {
    border-radius: 0.25rem;
    border: 0;
    box-shadow: 0 3px 4px $color_border;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
    max-width: 10em;
    padding: 1rem 0.5rem;
    text-align: center;
  }

  fieldset#line-items {
    border-top: 1px solid $color_border;
    margin: 1.5rem 0;

    h2 {
      font-size: 17px;
      margin-top: 1.0em;
      margin-bottom: 0.75em;
    }

    input.item-name, input.item-cost { display: inline-block; }

    input.item-name {
      width: 80%;
    }

    input.item-cost {
      padding: 3px;
      float: right;
      width: 18%;
    }

    div.total {
      float: right;
      margin-top: 1rem;

      label { display: inline-block; text-align: right; }
      input {
        display: inline-block;
        margin-left: $grid_gutter;
        text-align: right;
        width: $col_3;
      }
    }
  }
}
