body {
  background: $color_background;
  color: $color_text;
}

// Global ---------------------------------------------------------------------

header {
  background: $color_frosted;
  height: 3em;
  line-height: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;

  @include shadow(0, 3px, 10px, $color_shadow_alt);

  nav {
    margin: 0 auto;
    padding: 0.5em 0;
    width: $grid_full_width;
  }

  a {
    color: $color_text_alt;
    float: left;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: #000 0 -1px 1px;

    &:hover {
      background: darken($color_frosted, 5%);

      @include radius(15px);
      @include shadow(0, 2px, 5px, darken($color_frosted, 20%), true);
    }
  }

  #logout-link { float: right; }
}

#container {
  background: $color_foreground;
  margin: 4em auto;
  padding: $grid_gutter;
  width: $grid_width;

  @include shadow(0, 3px, 10px, $color_shadow);
}

nav#toolbar {
  margin-bottom: 1.5em;
}

// Sessions -------------------------------------------------------------------

body#sessions #container {
  width: $col_8;

  form {
    input[type='text'], input[type='password'] { width: 97.5%; }
  }
}

// Invoices -------------------------------------------------------------------

#invoices-table {
  background: $color_paper;
  text-align: left;
  overflow: auto;
  width: 100%;

  li {
    clear: both;
    display: block;

    &.header { background: $color_foreground_alt; font-weight: bold; text-transform: capitalize; }
    &.header span { border-color: $color_foreground_alt; }

    &.footer { background: $color_foreground; }
    &.footer span.total { background: #000000; color: white; }

    &.due {
      a { color: $color_suppress; }
    }

    a {
      border: none;
      &:hover { background: $color_highlight; }
    }

    abbr { font-size: 0.8em;  }

    span {
      border-right: 1px solid lighten($color_border, 30%);
      display: table-cell;
      padding: 5px 10px;

      &.number   { width: 5%; text-align: center; }
      &.created  { width: 10%; }
      &.due      { width: 10%; }
      &.client   { width: 10%; }
      &.title    { width: 40%; }
      &.total    { width: 5%; text-align: right; }

      &.outstanding {
        width: 100%;
        text-align: right;
      }
    }
  }
}

nav.toolbar {
  height: 30px;
  padding: 10px;
  @include gradient($color_toolbar, darken($color_toolbar, 10%));

  a {
    border: 1px solid darken($color_toolbar, 25%);
    border-top-color: lighten($color_toolbar, 15%);
    color: $color_paper;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 10px;
    line-height: 10px;
    padding: 10px 20px;
    margin-right: $grid_gutter - 5px;
    text-align: center;
    text-shadow: #000 0 1px 1px;

    @include radius(15px);

    &.print { @include gradient(lighten($color_toolbar, 10%), darken($color_toolbar, 10%)); }
    &.edit  { @include gradient(lighten($color_toolbar, 10%), darken($color_toolbar, 10%)); }
  }
}

body#invoices.show {
  #container {
    margin: 36px auto;

    .invoices {
      margin-top: 1em;

      a {
        font-size: 1.5em;
        line-height: 1.5em;
        text-decoration: none;
      }
    }
  }

  #badging {
    margin-bottom: 1.5em;
    text-align: right;

    p { font-size: 12px; }
  }

  #content {
    float: left;
    width: $col_12;
    margin-right: $grid_gutter;

    table#meta {
      td { padding: 1.5px 6px }
      .thead { text-align: right }
    }

    .title       { margin-bottom: 1em; }
    .description { margin-top: 2em; }
  }

  #support {
    float: left;
    background: #b4d6dd;
    margin-top: 3em;
    padding: 12px 6px 36px;
    width: $col_12 - $grid_gutter;

    dl {
      font-size: 1.25em;
      line-height: 18px;
      margin-bottom: 1em;
    }

    dt {
      font-weight: bold;
      margin-bottom: .2em;
    }
  }

  #itemized {
    font-size: 1.25em;
    width: 100%;
    text-align: left;

    th, td        { padding: 12px 6px; letter-spacing: 0.05em; }
    th.item-head  { background: #4a97B0; color: #fff; }
    th.cost-head  { background: #1b789b; color: #fff; text-align: right; }
    td.cost       { background: #b4d6dd; text-align: right; width: $col_6; }
    td.total-head { font-weight: bold; text-align: right; }

    td.total {
      background: #131815;
      color: #fff;
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: right;
    }
  }
}
