body {
  background: $color_background;
  color: $color_text;
}

// Global ---------------------------------------------------------------------

header {
  background: $color_frosted;
  height: 4em;
  line-height: 3.5em;
  position: fixed;
  top: 0;
  width: 100%;

  nav {
    margin: 0 auto;
    width: $grid_full_width;
  }

  a, a:visited, a:link {
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    padding: 5px 10px;
    text-decoration: none;
  }

  .logout-link { float: right; }
}

.container {
  margin: 64px auto;
  padding: $grid_gutter;
  width: $grid_width;
}

// Sessions -------------------------------------------------------------------

body#sessions #container {
  width: $col_8;

  form {
    input[type='text'], input[type='password'] { width: 97.5%; }
  }
}


.toolbar {
  min-height: 60px;
  padding: 10px;
  margin-bottom: 1.5em;
  text-align: right;
}

body#invoices.show {
  #container {
    .invoices {
      margin-top: 1em;

      a {
        font-size: 1.5em;
        line-height: 1.5em;
        text-decoration: none;
      }
    }
  }

  #badging {
    margin-bottom: 1.5em;
    text-align: right;

    p { font-size: 12px; }
  }

  #content {
    float: left;
    width: $col_12;
    margin-right: $grid_gutter;

    table#meta {
      td { padding: 1.5px 6px }
      .thead { text-align: right }
    }

    .title       { margin-bottom: 1em; }
    .description { margin-top: 2em; }
  }

  #support {
    float: left;
    background: #b4d6dd;
    margin-top: 3em;
    padding: 12px 6px 36px;
    width: $col_12 - $grid_gutter;

    dl {
      font-size: 1.25em;
      line-height: 18px;
      margin-bottom: 1em;
    }

    dt {
      font-weight: bold;
      margin-bottom: .2em;
    }
  }

  #itemized {
    font-size: 1.25em;
    width: 100%;
    text-align: left;

    th, td        { padding: 12px 6px; letter-spacing: 0.05em; }
    th.item-head  { background: #4a97B0; color: #fff; }
    th.cost-head  { background: #1b789b; color: #fff; text-align: right; }
    td.cost       { background: #b4d6dd; text-align: right; width: $col_6; }
    td.total-head { font-weight: bold; text-align: right; }

    td.total {
      background: #131815;
      color: #fff;
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: right;
    }
  }
}
