html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$grid_column:     25px;
$grid_gutter:     15px;
$grid_width:      $grid_column * 24 + ($grid_gutter * (23));
$grid_full_width: $grid_width + ($grid_gutter * 2);

$col_1:  $grid_column;
$col_2:  ($grid_column * 2)  + ($grid_gutter * 1);
$col_3:  ($grid_column * 3)  + ($grid_gutter * 2);
$col_4:  ($grid_column * 4)  + ($grid_gutter * 3);
$col_5:  ($grid_column * 5)  + ($grid_gutter * 4);
$col_6:  ($grid_column * 6)  + ($grid_gutter * 5);
$col_7:  ($grid_column * 7)  + ($grid_gutter * 6);
$col_8:  ($grid_column * 8)  + ($grid_gutter * 7);
$col_9:  ($grid_column * 9)  + ($grid_gutter * 8);
$col_10: ($grid_column * 10) + ($grid_gutter * 9);
$col_11: ($grid_column * 11) + ($grid_gutter * 10);
$col_12: ($grid_column * 12) + ($grid_gutter * 11);
$col_13: ($grid_column * 13) + ($grid_gutter * 12);
$col_14: ($grid_column * 14) + ($grid_gutter * 13);
$col_15: ($grid_column * 15) + ($grid_gutter * 14);
$col_16: ($grid_column * 16) + ($grid_gutter * 15);
$col_17: ($grid_column * 17) + ($grid_gutter * 16);
$col_18: ($grid_column * 18) + ($grid_gutter * 17);
$col_19: ($grid_column * 19) + ($grid_gutter * 18);
$col_20: ($grid_column * 20) + ($grid_gutter * 19);
$col_21: ($grid_column * 21) + ($grid_gutter * 20);
$col_22: ($grid_column * 22) + ($grid_gutter * 21);
$col_23: ($grid_column * 23) + ($grid_gutter * 22);
$col_24: ($grid_column * 24) + ($grid_gutter * 23);
