body   { font: 14px/1.5 'Helvetica Neue', 'Helvetica', sans-serif; }
h1     { font-size: 2em; margin-bottom: 0.5em; }
h2     { font-size: 1.25em; margin-bottom: 0.5em; }

a:link, a:visited {
  color: $color_text;
  text-decoration: none;
}

a:hover {
  color: lighten($color_text, 10%);
}
