%nav.toolbar
  = link_to 'Create New Invoice', new_invoice_path, class: 'tool-button'
  = link_to 'Add a Client', new_client_path, class: 'tool-button'

%section.invoices
  %h2 Invoices
  = render 'invoices/listing'
