@import 'vendor/reset';
@import 'global/grid';
@import 'global/variables';
@import 'global/type';

#container {
  margin: 4em auto;
  width: $grid_full_width;
}

.badging {
  margin-bottom: 1.5em;
  text-align: right;

  h2 {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.5;
  }
}

.content {
  float: left;
  width: 50%;

  .meta {
    td { padding: 2px 6px; }
  }

  .thead {
    text-align: right;
  }

  .title {
    font-weight: 700;
    margin-bottom: 1em;
  }

  .description {
    margin-top: 2em;
  }
}

.support {
  float: left;
  background: #b4d6dd;
  margin-top: 3em;
  padding: 12px 12px 36px;
  width: 50%;

  dl {
    font-size: 1.25em;
    line-height: 18px;
    margin-bottom: 1em;
  }

  dt {
    font-weight: bold;
    margin-bottom: .2em;
  }
}

.itemized {
  font-size: 1.25em;
  width: 100%;
  text-align: left;

  th, td        { padding: 12px 6px; }
  th.item-head  { background: #4a97B0; color: #fff; }
  th.cost-head  { background: #1b789b; color: #fff; text-align: right; }
  td.cost       { background: #b4d6dd; text-align: right; width: $col_6; }
  td.total-head { font-weight: bold; text-align: right; }

  td.total {
    background: #131815;
    color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: right;
  }
}
